<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <h1><%= pageTitle %></h1>
      <p>
        Hello again 😊, so you must be done with converting your raw datasets or
        already did that now here you create the indexes for your datasets to
        begin select a dataset below..
      </p>
      <section id="available-dataset">
        <h2>Available Datasets</h2>
        <% if (files && files.length > 0) { %>
        <ul>
          <% files.forEach(function(file) { %>
          <li param="<%= file.name %>" class="clean-dataset">
            <%= file.name %> <% if (file.type) { %> (<%= file.type %>) <% } %>
            <% if (file.size) { %> - <%= file.size %> <% } %>
            <button class="clean-dataset-btn">select</button>
            <% if (!file.name.includes("json")) { %>
            <button class="warning" param="<%= file.name %>">
              this is not a valid json file!
            </button>
            <% } %>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        <p>No datasets or index files found yet.</p>
        <% } %>
      </section>
      <section>
        <h2>Uploading New Dataset</h2>
        <p>go <a href="/">here</a> to upload and convert raw datasets</p>
      </section>
      <section>
        <h2>Dataset Analysis (select a dataset from the available datasets)</h2>
        <h3>selected dataset</h3>
        <li class="invisible" id="selected-dataset"></li>
      </section>
    </div>
  </body>
</html>
